#contact {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.contactContainer {
  width: 80%;
}
.contactTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 70px;
}
.ContactType {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
.contact {
  font-size: 20px;
  margin: 10px;
  word-wrap: break-word;
}
.fb {
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  margin: 10px;
}
@media only screen and (max-width: 1300px) {
  .contactContainer {
    width: 75%;
  }
  .contactTitle {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1020px) {
  .contactTitle {
    font-size: 30px;
    margin-bottom: 60px;
  }
  .contact {
    font-size: 19px;
  }
}
@media only screen and (max-width: 850px) {
  .contactContainer {
    width: 60%;
  }
  .contactTitle {
    margin-bottom: 50px;
  }
  .ContactType {
    padding-left: 0px;
  }
  .contact {
    font-size: 18px;
  }
}
@media only screen and (max-width: 425px) {
  .contactContainer {
    width: 90%;
  }
  .fb {
    font-size: 22px;
    font-weight: bold;
  }
}
