#education {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.educationContainer {
  width: 80%;
}
.educationTitle {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 100px;
}
.educationCardContainer {
  padding-left: 50px;
}
.educationDetailContainer > p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 50px 0px 40px 0px;
}

.educationDetail {
  border-left: 2.5px solid;
  padding-left: 10px;
  margin-bottom: 50px;
}
.year {
  font-size: 20px;
  font-style: italic;
}
.exam {
  font-size: 22px;
  font-weight: bold;
}
.academy {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.result {
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
@media only screen and (max-width: 1300px) {
  .educationContainer {
    width: 75%;
  }
  .educationTitle {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1020px) {
  .educationTitle {
    font-size: 30px;
    margin-bottom: 80px;
  }
  .educationDetailContainer > p {
    font-size: 28px;
  }
  .exam {
    font-size: 21px;
  }
  .result,
  .year,
  .academy {
    font-size: 19px;
  }
}
@media only screen and (max-width: 850px) {
  .educationContainer {
    width: 60%;
  }
  .educationTitle {
    margin-bottom: 50px;
  }
  .educationCardContainer {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 4250px) {
  .educationContainer {
    width: 90%;
  }
  .educationDetailContainer > p {
    font-size: 25px;
    margin-top: 0px;
  }
  .educationTitle {
    margin-bottom: 30px;
  }
  .educationDetail {
    margin-bottom: 30px;
  }
  #education {
    margin-bottom: 0px;
  }
}
