#home {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
.homeIntroContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	align-items: center;
	justify-items: center;
}
.nameInfo {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 10px;
}
.homeIntroContainer > .nameInfo > h1 {
	font-weight: bold;
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 20px;
}
.homeIntroContainer > .nameInfo > p {
	font-size: 45px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 20px;
}
.homeContact {
	display: flex;
	flex-direction: column;
}
.homeIconContainer {
	margin-bottom: 10px;
	display: flex;
	gap: 10px;
}
.homeIcon {
	font-size: 30px;
	color: blue;
}
.homeIcon:hover {
	transform: scale(1.2);
}
.homeContact > a {
	text-decoration: none;
	font-size: 20px;
}

/* Card */

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
}
.AandS {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.IandF {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.letterCard {
	width: 230px;
	height: 260px;
	border-radius: 7px;
	text-align: center;
	font-size: 220px;
	font-weight: bold;
}
@media only screen and (max-width: 1300px) {
	.homeIntroContainer {
		width: 75%;
	}
	.letterCard {
		width: 200px;
		height: 225px;
		font-size: 195px;
	}
}
@media only screen and (max-width: 1130px) {
	.homeIntroContainer > .nameInfo > h1 {
		font-size: 55px;
	}
	.homeIntroContainer > .nameInfo > p {
		font-size: 40px;
	}
	.letterCard {
		width: 185px;
		height: 212px;
		font-size: 180px;
	}
}
@media only screen and (max-width: 1020px) {
	#home {
		padding-top: 40px;
	}
	.homeIntroContainer > .nameInfo > h1 {
		font-size: 40px;
	}
	.homeIntroContainer > .nameInfo > p {
		font-size: 30px;
	}
	.homeContact > a {
		font-size: 18px;
		padding-bottom: 7px;
	}
	.cardContainer {
		gap: 20px;
	}
	.AandS {
		flex-direction: column;
		gap: 20px;
	}
	.IandF {
		gap: 25px;
	}
	.nameInfo {
		padding-right: 0px;
	}
	.letterCard {
		width: 150px;
		height: 180px;
		font-size: 150px;
	}
}
@media only screen and (max-width: 940px) {
	#home {
		/* padding-top: 70px; */
	}
	.IandF {
		/* flex-direction: column;
		gap: 20px; */
	}
	.AandS {
		flex-direction: row;
	}
}
@media only screen and (max-width: 850px) {
	.homeIntroContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 60%;
	}
	.nameInfo {
		height: auto;
		margin-top: 80px;
		margin-bottom: 50px;
	}
	.cardContainer {
		gap: 30px;
	}
	.AandS {
		flex-direction: row;
		gap: 30px;
	}
	.IandF {
		flex-direction: row;
		gap: 30px;
	}
	.letterCard {
		width: 185px;
		height: 212px;
		font-size: 180px;
	}
}
@media only screen and (max-width: 670px) {
	.letterCard {
		width: 175px;
		height: 199px;
		font-size: 170px;
	}
}

@media only screen and (max-width: 425px) {
	.homeIntroContainer {
		width: 90%;
	}
	.nameInfo {
		margin-top: 60px;
		margin-bottom: 5px;
	}
	.homeIntroContainer > .nameInfo > h1 {
		font-size: 28px;
		margin-bottom: 25px;
	}
	.homeIntroContainer > .nameInfo > p {
		font-size: 21px;
		margin-bottom: 25px;
	}
	.homeIconContainer {
		gap: 7px;
	}
	.homeIcon {
		font-size: 25px;
	}
	.homeContact > a {
		font-size: 15px;
	}
	.letterCard {
		width: 130px;
		height: 160px;
		font-size: 130px;
	}
	.cardContainer {
		margin: 50px auto;
		gap: 30px;
	}
	.AandS {
		gap: 25px;
	}
	.IandF {
		gap: 25px;
	}
}
