#portfolio {
	display: flex;
	justify-content: center;
	margin-bottom: 130px;
}
.portfolioContainer {
	width: 80%;
}

.imageStyle {
	width: 300px;
}
.portfolioTitle {
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 100px;
}
.portfolioCard {
	box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 15px;
	height: fit-content;
	width: fit-content;
	padding: 10px;
	border-radius: 7px;
	margin: 20px;
	align-items: center;
}
.portfolioCardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0;
}
.portfolioDetailContainer > p {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 0;
	margin: 40px 0px 10px 0px;
}
@media only screen and (max-width: 1300px) {
	.portfolioContainer {
		width: 75%;
	}
	.portfolioTitle {
		margin-bottom: 40px;
	}
}
@media only screen and (max-width: 1020px) {
	.portfolioTitle {
		font-size: 30px;
		margin-bottom: 80px;
	}
	.portfolioDetailContainer > p {
		font-size: 28px;
	}
	.portfolioCard {
		height: fit-content;
		width: fit-content;
		margin: 15px;
	}
	.imageStyle {
		width: 250px;
	}
}
@media only screen and (max-width: 850px) {
	.portfolioContainer {
		width: 60%;
	}
	.portfolioTitle {
		margin-bottom: 50px;
	}
	.portfolioCard {
		height: fit-content;
		width: fit-content;
		margin: 12px;
	}
	.imageStyle {
		width: 280px;
	}
}
@media only screen and (max-width: 425px) {
	.portfolioContainer {
		width: 90%;
	}
	.portfolioTitle {
		font-size: 28px;
		margin-bottom: 25px;
		margin-top: 10px;
	}
	.portfolioDetailContainer > p {
		font-size: 21px;
		margin-top: 0px;
	}
	#portfolio {
		margin-bottom: 50px;
	}
}
