#portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}
.portfolioContainer {
  width: 80%;
}
.portfolioCard {
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 15px;
  flex-direction: column-reverse;
  height: 330px;
  width: 230px;
  padding: 25px 35px;
  border-radius: 7px;
  margin: 20px;
  align-items: center;
}
.portfolioCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}
.portfolioDetailContainer {
}
.portfolioDetailContainer > p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 40px 0px 10px 0px;
}
